* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #5e5353;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: #5e5353;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: #FFC436;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}

span {
    color: whitesmoke;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 30px;
}

.navbar a:hover {
    color: #FFC436;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 500px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700px;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px 0;
}

.btn {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    background-color: #ffc436;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 20px;
}

.btn:hover {
    color: #ffc436;
    background: whitesmoke;
}

.home-img img {
    position: relative;
    width: 450px;
    box-shadow: 0 0 25px #ffc436,
                0 0 50px #ffc436;
    border-radius: 50%;
}

.cv {
    width: 100%;
    padding: 50px 0px;
    background: #2D2727;
}

.heading {
    font-size: 40px;
    align-items: center;
    text-align: center;
    margin: 30px 0 20px 0;
}

table {
    border-collapse: collapse;
    font-size: 10px;
    border: 3px solid black;
    color: black;
    width: 60%;
    margin-left: auto; 
  margin-right: auto;
  background: white;
}

.image img {
    margin-left: 25%;
}

td {
    font-size: 12px;
    font-weight: 80;
    padding: 4px;
}
.heading-table {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background: #FFC436;
}

.biodata ul {
    padding: 10px;
    font-weight: 300;
    margin-left: 5%;
}

.biodata-value ul{
    padding: 10px;
    font-weight: 300;
    margin-left: 2%;
    list-style-type: none;
}

.medsos {
    text-align: center;
    color: black;
    background: #FFC436;
}

.medsos a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
}
.medsos a:hover {
    color: antiquewhite;
}
.medsos i {
    padding: 5px;
}

.fa-github {
    color: #000000;
    font-size: 20px;
}

.fa-instagram {
    color: #E1306C;
    font-size: 20px;
}

.fa-facebook {
    color: #3B5998;
    font-size: 20px;
}
.fa-linkedin {
    color: #0A66CA;
    font-size: 20px;
}

.fa-youtube {
    color: red;
    font-size: 20px;
}

.contact {
    background: #5e5353;
    padding-bottom: 40px;
}
.contact h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: whitesmoke;
    font-size: 42px;
    padding-top: 100px;
}

.contact form {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 1.5rem;
    
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: black;
    background: whitesmoke;
    border-radius: .8rem;
    margin: .5rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
    padding-bottom: 15px;
}
 .me {
    color: #FFC436;
 }

.btn-c {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    background:#ffc436 ;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 20px;
}

.btn-c:hover {
    color: #5e5353;
    background: whitesmoke;
    cursor: pointer;
}

.foot {
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 15px;
}



